@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

body {
  background-color: #8b9ff2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header-section {
  text-align: center;
  padding-bottom: 1rem;
}

.text-header {
  font-weight: 700;
  font-size: 2.5rem;
  text-shadow: 3px 2px 1px grey;
}

.app {
  background-color: #1d1d58;
  width: 480px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  text-align: center;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #20204b;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  padding-left: 0.75rem;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}
